<html xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="header">
        <div>
            <img style="height: 300px; width: 400px;" src="https://scontent.fsgn8-4.fna.fbcdn.net/v/t39.30808-6/310711874_1139599340272192_4645223268874999807_n.jpg?stp=dst-jpg_s720x720&_nc_cat=105&ccb=1-7&_nc_sid=127cfc&_nc_ohc=OFPgx1FQo5wQ7kNvgGjj_9y&_nc_zt=23&_nc_ht=scontent.fsgn8-4.fna&_nc_gid=AEtfUqjWl6SkTA4McDW2m_M&oh=00_AYDZIVzJgjWX6s4D8ROnodeGn3U1bqfn-K3Fl512KSSL-w&oe=6724DCDC" alt="">
        </div>
    </div>
</html>

