<html xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="header">
        <div>
            <img style="height: 300px; width: 400px;" src="https://scontent.fsgn8-3.fna.fbcdn.net/v/t39.30808-6/320703907_721659606331291_8043146417830318152_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeFQhOYaKAKJ_NRlcWdX-p8LzPxiEtC_f9LM_GIS0L9_0hQQ5ihLw29dFk4jP_7yqCVHdHDNWkXakLhWPzoPbCsP&_nc_ohc=TgK6IzinzakQ7kNvgHw0zm_&_nc_zt=23&_nc_ht=scontent.fsgn8-3.fna&_nc_gid=AIxr4Vz99FfH_kD0F3Hjyep&oh=00_AYA9NvYK0jFaftVWGgz2KlNjLN-Yk3mnbiprFYi7noZR4Q&oe=67250656" alt="">
        </div>
    </div>
</html>

