<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Hello World</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- CSS -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <!-- JavaScript -->
    <script th:src="@{/js/bootstrap.js}"></script>
</head>
<body>
    <header th:replace="/layout/header :: header"></header>

    <a th:href="@{/categories/signup}">Add Category</a>
    <table>
        <tr>
            <th>STT</th>
            <th>Category name</th>
            <th>Image</th>
        </tr>

        <tbody>
        <tbody>
        <tr th:each="category, iterStat : ${list}">
            <td th:text="${iterStat.count}"></td>
            <td th:text="${category.categoryname}"></td>
        </tr>


        </tbody>
    </table>


    <footer th:replace="/layout/footer :: footer"></footer>
</body>
</html>
